    <tr>
        <td colspan="2">
            <input type="button" value="B" style="font-weight: bold;" onclick="bbcinsert('[B]', '[/B]')" class="input_button" />
            <input type="button" value="I" style="font-style: italic;" onclick="bbcinsert('[I]', '[/I]')" class="input_button" />
            <input type="button" value="U" style="font-style: underline;" onclick="bbcinsert('[U]', '[/U]')" class="input_button" />
            <input type="button" value="Center" onclick="bbcinsert('[CENTER]', '[/CENTER]')" class="input_button" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Zitat" onclick="bbcinsert('[QUOTE]', '[/QUOTE]')" class="input_button" />
            <input type="button" value="URL" onclick="bbcinsert('[URL=http://]', '[/URL]')" class="input_button" />
            <input type="button" value="@" onclick="bbcinsert('[EMAIL=@]', '[/EMAIL]')" class="input_button" />
        </td>
    </tr>