    <tr>
        <td colspan="2">
            <a href="#textarea" onclick="javascript:bbcinsert(' :eek: ', '');"><img src="$smiliedir1.gif" alt="Smilie :eek:" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :D ', '');"><img src="$smiliedir2.gif" alt="Smilie :D" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :p ', '');"><img src="$smiliedir3.gif" alt="Smilie *Zunge rausstreck*" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :?: ', '');"><img src="$smiliedir4.gif" alt="Smilie ???" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' 8) ', '');"><img src="$smiliedir5.gif" alt="Smilie mit cooler Sonnenbrille" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :( ', '');"><img src="$smiliedir6.gif" alt="Smilie sad" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :x: ', '');"><img src="$smiliedir7.gif" alt="Smilie :x:" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :O_o: ', '');"><img src="$smiliedir8.gif" alt="Smilie oO" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :o ', '');"><img src="$smiliedir9.gif" alt="Smilie :o" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :lol: ', '');"><img src="$smiliedir10.gif" alt="Smilie *lol*" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :x( ', '');"><img src="$smiliedir11.gif" alt="Smilie :x(" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :no: ', '');"><img src="$smiliedir12.gif" alt="Smilie *Kopfsch&uuml;ttel*" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :-: ', '');"><img src="$smiliedir13.gif" alt="Smilie :-:" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :rolleyes: ', '');"><img src="$smiliedir14.gif" alt="Smilie, der mit den Augen rollt" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' ;( ', '');"><img src="$smiliedir15.gif" alt="Weinender Smilie (sad)" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :) ', '');"><img src="$smiliedir16.gif" alt="Normaler lachender Smilie" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' ;)D ', '');"><img src="$smiliedir17.gif" alt="Smilie ;)D" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' X-X ', '');"><img src="$smiliedir18.gif" alt="Smilie X-X" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' ;) ', '');"><img src="$smiliedir19.gif" alt="Zwinkernder Smilie" style="border:0;" /></a>
            <a href="#textarea" onclick="javascript:bbcinsert(' :yes: ', '');"><img src="$smiliedir20.gif" alt="Smilie :yes:" style="border:0;" /></a>
        </td>
    </tr>